.App {
  text-align: center;
}
.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 300px;
  border-radious: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #7209b7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #7209b7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* .moveToEnd {
  display: flex;
  align-items: flex-end;
} */
/* img {
  margin-top: 0px;
  margin-bottom: 0px;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

#login-btn {
  height: fit-content;
  width: 15%;
  background-color: #7209b7;
  border: 3px solid #7209b7;
  margin-bottom: 100px;
}

#login-btn:hover {
  border: 3px solid #ffaa01
}

.login-h1 {
  color: #7209b7;
}

#signup-btn {
  height: fit-content;
  width: 15%;
  background-color: #7209b7;
  border: 3px solid #7209b7;
  margin-bottom: 100px;
}

#signup-btn:hover {
  border: 3px solid #ffaa01
}

.signup-h1 {
  color: #7209b7;
}

#signup-email {
  border: 3px solid #4cc9f0;
}

#signup-pass {
  border: 3px solid #4cc9f0;
}

#pass-label {
  color: #f72485;
}

#email-label {
  color: #f72485;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.nav {
  width: 100%;
  justify-content: flex-end;
 
}

nav {
  background-color: white;
}

footer {
  background-color: rgb(114, 9, 183);
  color: white;
  padding: 20px;
  text-align: center;
}

#logout-btn {
  height: fit-content;
  width: 110px;
  background-color: #7209b7;
  font-weight: 600;
  border: 3px solid #7209b7;
}

#create-post-btn {
  height: fit-content;
  width: 130px;
  background-color: #4cc9f0;
  margin-right: 15px;
  font-weight: 600;
  border: 3px solid #4cc9f0;
}

#edit-post-btn {
  height: fit-content;
  width: 110px;
  background-color: #b5169e;
  margin-right: 15px;
  font-weight: 600;
  border: 3px solid #b5169e;
}

#create-post-btn:hover {
  border: 3px solid #ffaa01;
}

#edit-post-btn:hover {
  border: 3px solid #ffaa01;
}

#logout-btn:hover {
  border: 3px solid #ffaa01;
}

.box {
  /* height: 100%;
  width: 200px; 
  overflow: hidden; */
  box-shadow: 2px 2px 3px 2px rgba(33, 33, 33, 0.2);
  -webkit-box-shadow: 2px 2px 3px 2px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 2px 2px 3px 2px rgba(33, 33, 33, 0.2);
}

.grid {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#delete-btn {
  height: fit-content;
  width: 30%;
  border: 3px solid red;
}

#delete-btn:hover {
  border: 3px solid #ffaa01;
}

#update-post-btn {
  height: fit-content;
  width: 30%;
  border: 3px solid #4cc9f0;
}

#edit-btn:hover {
  border: 3px solid #ffaa01;
}

#edit-card-buttons {
  display: flex;
  justify-content: space-between;
}

#update-post-btn {
  background-color: #7208B7 ;
  border: 3px solid #7208B7 ;
}

#update-post-btn:hover {
  border: 3px solid #ffaa01;
}

#close-edit-btn {
  height: fit-content;
  width: 15%;
  background-color: #F72485;
  border: 3px solid #F72485;
}

#close-edit-btn:hover {
  border: 3px solid #ffaa01;
}

#card:hover {
  transform: translate3D(0, -1px, 0) scale(1.1);
}

/* .grid > div {
  flex-basis: calc(20% - 40px);
} */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@100;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fredericka+the+Great&family=Roboto:wght@100;700&family=Titillium+Web&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}
