.App {
  text-align: center;
}
.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 300px;
  border-radious: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #7209B7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #7209B7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* .moveToEnd {
  display: flex;
  align-items: flex-end;
} */
/* img {
  margin-top: 0px;
  margin-bottom: 0px;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */



#login-btn {
  background-color: #7209B7;
  margin-bottom: 100px;
}

.login-h1 {
  color: #7209B7;
}

#signup-btn {
  background-color: #7209B7;
  margin-bottom: 100px;
}

.signup-h1 {
  color: #7209B7;
}

#signup-email{
  border: 3px solid #4CC9F0;
}

#signup-pass {
  border: 3px solid #4CC9F0;
}

#pass-label {
  color: #F72485;
}

#email-label {
  color: #F72485;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.nav {
  width: 100%;
  justify-content: flex-end;
}

#logout-btn{
  background-color: #7209B7;
}

footer {
  background-color:rgb(114,9,183);
  color:white;
  padding: 20px;
  text-align: center;
}